@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Source+Sans+Pro:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.rectangle-1{
  position: absolute;
  width: 590px;
  height: 847px;
  left: 764px;
  top: 18px;

  background: #9BEAE0;
}

/* image 1 */

/* position: absolute;
width: 530px;
height: 794px;
left: 1350px;
top: 71px;

background: url(image.png);
transform: matrix(-1, 0, 0, 1, 0, 0); */
